@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

html {
   /* margin-left: calc(100vw - 100%);
    margin-right: 0;
    overflow: auto;*/
}

/*@-moz-document url-prefix() {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
        overflow: visible;
    }
}*/
* {
	font-family: "PT Sans",sans-serif;
	margin: 0;
	padding: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
    outline: none !important;
    --main-color: #0066a9;
    --table-color: #e9eff6;
    --footer-back: rgb(239, 239, 239);
    --footer-back-dark: #dadada;
    --footer-text: rgb(48, 48, 48);
    --sandwich-link: #e0eaff;
    --sandwich-footer: rgba(255, 255, 255, .7);
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    transition: all 0.5s;
    opacity: 1;

}
.preloader-remove {
    opacity: 0;
    z-index: -10;
}

.preloader-5 {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--main-color);
    animation: preloader-5-spin 2s linear infinite;
}
.preloader-5:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #61a8d6;
    animation: preloader-5-spin 3s linear infinite;
}
.preloader-5:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3a7398;
    animation: preloader-5-spin 1.5s linear infinite;
}
@keyframes preloader-5-spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/*::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: var(--main-color);

    background-image: url('https://yraaa.ru/_pu/24/59610063.png');
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
}

::-webkit-scrollbar {
    width: 9px;
}

#exampleModalScrollable .close-btn:active {
    border: none;
    color: var(--main-color);
    box-shadow: none;

}*/

#square {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color);
    color: white;
    z-index: 1000;
    padding: 10px 15px;
    opacity: 0.7;
    display: none;
    cursor: pointer;
}

#bg-blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.mrsu-bg {
    background-color: var(--main-color);
}

.mrsu-bg-button {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.mrsu-uppertext {
    text-transform: uppercase;
}

.table-stat {
    margin-bottom: 2rem;
}

a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header-acord {

}

.table-stat thead {
    background-color: var(--table-color);
    color: var(--main-color);
}

.legend {
    color: var(--main-color);
    font-size: 14px !important;
    text-decoration: underline
}

.mrsu-logo-img-ovz {
   display:none;
}

.h1-mrsu {
    font-size: 28px;
}

.link-block {
    display: block;
}

#main_version {
    display: none !important;
}

.chosen-student {
    background-color: rgba(0, 128, 0, 0.1);
}

.main-nav {
    background-color: var(--footer-back) !important;
}

.main-nav button span {
    color: white;
}

.main-nav ul li a {
    color: white;
    font-size: 13px;
    padding: 15px 0;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -5px;
    width: 20px;
    height: 20px;
    margin: 8px;
    border: 3px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #041e42 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: calc(0.8 * 30px);
    height: calc(0.8 * 30px);
    margin: 8px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--main-color) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.freeseats-title{
    margin-left: 3.5rem;
}

.main-nav ul li:hover {
    background-color: #d4d6dd;
}

.mrsu-card {
    background-color: var(--footer-back);
    margin-top: 4px;
}

.mrsu-card > ul {
    color: var(--main-color);
    font-size: 12px;
}

.mb-30px {
    margin-top: 30px;
}

.navbar .dropdown-menu {
    z-index: 100;
    background-color: var(--footer-back) !important;

    width: 300px !important;
    top: 55px !important;
    border-radius: 0 !important;
    border: 0;

}

.navbar-dark .navbar-nav .nav-link{
    color: var(--main-color)!important;
    font-weight: bold;
    font-size: 18px;
}
.dropdown-menu > .nav-link{
    font-size: 13px !important;
}
.main-color > .main-color-dropdown {
    background-color: var( --footer-back-dark) !important;
    top: 255px !important;
}

.mrsu-card > ul > li {
    margin-bottom: 5px;
}

.ovz-fa span {
    font-size: 0;
}

.mrsu-card > ul > li > ul li {
    font-style: italic;
    margin-bottom: 5px;
}

.title-text {
    font-size: 13px;
    color: var(--main-color);
    background-color: white;
}

.carousel-item {
    /*height: 522px;*/
    height: fit-content;
}

.header {
    background-color: white;
}

.infoblock-card .card-body {
    background-color: var(--main-color);
    color: white;
    padding: 2px;
    font-size: 17px;
}

.infoblock-card .card-body img {
    height: auto;
}

.list-sections li {
    padding: 5px 10px;
    background-color: var(--main-color);
}

.bold-border-imp {
    border-bottom: 2px solid var(--main-color) !important;
}

.bold-border-right-imp {
    border-bottom: 2px solid var(--main-color) !important;
    border-right: 2px solid var(--main-color) !important;
}

/*.navbar-toggler {*/
/*    display: none;*/
/*}*/

.infoblock-card img {
    width: 100%;
    height: 212px;
}

.infoblock-card .card-footer ul li a {
    font-style: italic;
    color: var(--main-color);
    font-size: 13px;
}

.infoblock-card .card-footer ul {
    list-style-type: none;
}

.infoblock-card .card-footer ul li:before {
    content: "—";
    position: relative;
    left: -5px;
    color: var(--main-color);
}

.base-exams-table thead tr td {
    display: table-cell;
    vertical-align: middle;
}

.base-exams-table .exam-rights {
    background-color: rgba(0, 128, 0, 0.3);
}

.bac-mag {
    height: 50px;
}

.bac-mag .nav-link {
    color: rgba(35, 102, 165, 0.7) !important;
}

.bac-mag .nav-link:hover {
    color: var(--main-color) !important;
}

.form-row button {
    background-color: rgba(35, 102, 165, 0.7);
    color: white;
    border: none;
}

.bac-mag .form-inline button:hover {
    background-color: rgba(35, 102, 165, 1);
}

.bac-mag .form-inline input {
    border: 1px solid var(--main-color);
    width: 300px;
}


.mrsu-hr {
    height: 2px;
    width: 75%;
}

.exam-info-outer {
    width: max-content;
    margin-bottom: 10px;
    display: flex;
    align-items: stretch;
    height: max-content;
}

.examInfo {
    background-color: rgba(35, 102, 165, 0.1);
    color: var(--main-color);
    font-size: 18px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: inherit;
    min-height: 100%;
}

.examInfo-bottom {
    width: 100%;
    padding: 16px;
    color: white;
    background-color: var(--main-color);
    font-size: 18px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.examInfo-bottom .spec {
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);
}

.table-b-border tbody{
    background-color: #fff;
}
.examInfo tbody tr td {
    padding-left: 6px;
}

.examInfo tbody tr {
    border-bottom: 1px solid rgba(35, 102, 165, 0.33);
}

.examInfo tbody tr:last-child {
    border: none;
}

.examInfo-bottom tbody tr td {
    padding-left: 6px;
}

marquee {
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    color: var(--main-color);
}
.content-page{
    background-color: #fff;
}
.content-page img {
    display: block;
    width: 80%;
    margin: auto;
}

/*#exampleModalScrollable .modal-content {*/
/*    border-top-left-radius: 20px;*/
/*    border-top-right-radius: 20px;*/
/*}*/

#exampleModalScrollable .modal-body, #legend .modal-body {
    background-color: #0c5b95;
    color: white;
}

.copy-right a {
    color: #000;
    text-decoration: underline;
}

#exampleModalScrollable .close-btn, #legend .close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    color: white;
    right: -15px;
    width: 57px;
    height: 57px;
    z-index: 10000000;
    top: -45px;
}

#exampleModalScrollable table {
    color: white;
}

#exampleModalScrollable table td {
    border: 0;
    padding: 23px 22px 17px;
    width: 33.3333%;
}

#exampleModalScrollable table td strong {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.08;
}

#exampleModalScrollable table td span {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.31;
}

.section-content-block {

}

.ql-editor {
    height: fit-content !important;
}

.topline {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
    /*border-top: 50px solid #007ed0;*/
    height: 75px;
    background-color: #007ed0;
}

.topline-stat {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.32);
    /*border-top: 50px solid #007ed0;*/
    height: 75px;
    background-color: var(--main-color);
    color: #FFFFFF;
}

.files-stat {
    color: var(--main-color);
}

.inputGroup {
    background-color: rgba(85, 98, 235, 0.51);
    display: block;
    margin: 10px 0;
    position: relative;
}

.foreign-link {
    color: var(--main-color);
    font-size: 24px;
}

.inputGroup label {
    padding: 25px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #5562eb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
    color: #fff;
}

.inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}

.inputGroup input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
}

.inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

.hamburger {
    outline: none !important;
}

.table-b-border {
    border: 2px solid var(--main-color);
}

.nps-tr {
    border-top: 1px solid var(--main-color);
}

.nps-tr td {
    display: table-cell;
    vertical-align: middle;
}

.search-div, .search-tr {
    display: none;
}

.border-priem {
    border: 1px solid var(--main-color) !important;
}

.switch-panel {
    /*width: fit-content;*/
    margin: 0 auto;
}

.swith-priem {
    min-width: 340px;
    font-size: 20px !important;
}

.swith-priem a {
    color: var(--main-color);
    border-radius: 0 !important;
}

.swith-priem a.active {
    background-color: var(--main-color) !important;
}

.course-name:first-child {
    margin-top: 0 !important;
}

.underline-label {
    text-decoration: underline;
}

.files-list {
    list-style: none;
    padding: 0;
    display: block;
}

.files-list li {
    border-bottom: 1px solid lightgray;
    min-width: 300px;
    width: 100%;
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.files-list li img {
    width: 60px;
    margin-right: 20px;
}

.file-link-div a {
    color: #1b4b72;
}


.vh {
    height: 100vh !important;
}

.contact-us-div h5 {
    color: #b4b4b4;
}

.contact-us {
    margin: auto;
    padding: 50px 20px;
    width: fit-content;
}

.contact-main-tel {
    font-weight: 900;
    font-size: 2.5em;
    /*text-decoration: underline;*/
}

.contact-main-tel-en {
    font-weight: 900;
    font-size: 2.4em;
    /*text-decoration: underline;*/
}

.contact-main-tel a {
    color: var(--main-color);
}

.contact-div {
    /*font-size: 1.2em;*/
}

.input-mistake {
    background-color: rgba(255, 0, 0, 0.05);
}

.form-sent {
    font-size: 26px;
}

.form-sent a {
    font-size: 20px;
    color: #1b4b72;
    text-decoration: underline;
}

.form-sent .fa-check {
    font-size: 30px;
    color: #54E0C7;
    padding: 10px;
    border: 5px solid #54E0C7;
    border-radius: 50%;
}

.form-sent .fa-times {
    font-size: 30px;
    color: #d70a1b;
    padding: 10px 15px;
    border: 5px solid #d70a1b;
    border-radius: 50%;
}

.padding-0 {
    padding-top: 0 !important;
}


.contact-us input, .contact-us textarea {
    margin: 10px;
    width: 90%;
    border: 1px solid #1b4b72;
    padding: 10px;
    color: #1b4b72;
    font-size: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.contact-us button {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    margin: 10px;
    width: 90%;
    border: 1px solid #1b4b72;
    padding: 10px;
    cursor: pointer;
    background-color: #1b4b72;
    color: white;
}

.table-scores td, .table-scores th {
    border: 1px solid var(--main-color);
}

.table-ovz-select thead th {
    border: 1px solid var(--main-color);
}

.faculty-head {
    color: var(--main-color);
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: transparent !important;
    outline: none !important;
}

.table-scores th {
    color: white;
}

.table-scores thead tr th {
    background-color: var(--main-color) !important;
    text-transform: uppercase;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    vertical-align: center;
}

.table-scores tr td button {
    color: var(--main-color) !important;
}

.main-color {
    color: var(--main-color) !important
}

.dropdown-menu a.nav-link.text-white:active {
    background-color: #2689cd;
}
.small-text-thead{
    font-size: 0.8em;
}
.cleansing .btn {
    width:100%;
}


/*правое меню в подборе*/
@media screen and (min-width: 1200px) and (max-height: 900px) and (min-height: 695px) {
    .right-menu-label {
        font-size: calc(1vh * 1.5)!important;
    }
}

@media screen and (min-width: 1200px) and (max-height: 695px) {
    .right-menu-label {
        font-size: 10.45px!important;
    }
    .check-faculties, .check-subjects {
        margin-bottom: 2px!important;
        margin-top: 2px!important;
    }
    .right-menu-label::before {
        width: 15px!important;
        height: 15px!important;
        left: 0%!important;
        top: 19%!important;
    }
}

@media screen and (min-width: 1200px) {

	.container {
		padding: 0 0;
	}
    .right-menu-small {
        display: none;
    }

    #right-menu {
        position: sticky;
        height: 100vh;
        top: 2vh;
    }

    .checkbox-column {
        background-color: #efefef;
        border-bottom: 2px solid #ffffff;
    }

    .check-faculties, .check-subjects {
        margin-bottom: 7px;
        margin-top: 7px;
    }

    .right-menu-checkbox {
        width: 0;
        height: 0;
        display: none;
    }

    .right-menu-label::before {
        content: "";
        width: 20px;
        height: 20px;
        background: #fff;
        display: block;
        position: absolute;
        /*border-radius: 100%;*/
        border-radius: 10%;
        left: -1%;
        top: 10%;
        transition: border 0.7s ease;
    }

    .right-menu-label {
        width: 100%;
        padding-right: 10%;
        text-decoration: none;
        color: #656363;
        background-color: #efefef;
        font-size: 1em;
    }

    .right-menu-checkbox:checked ~ .right-menu-label {
        color: var(--main-color);
        font-weight: bold;
    }

    .right-menu-checkbox:checked ~ .right-menu-label::before {
        background-color: var(--main-color);
    }

    .right-menu-title {
        margin-left: -16px;
    }

}

@media screen and (max-width: 1200px) {
    .navbar-dark .navbar-nav .nav-link{
        font-size: 14px;
    }
}


/*мобилки*/
@media screen and (max-width: 1199px) {
    .right-menu-big {
        display: none;
    }

    .right-menu-small {
        display: flex;
        justify-content: center;
    }

    .right-menu-checkbox-group-down {
        margin: 0 auto;
        padding: 0;
    }

    #right-menu {
        padding: 0;
    }

    .right-menu-checkbox-group-down .btn {
        width: 100%;
        border-radius: 0;
        background-color: #fff;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        margin-bottom: 1em;
    }

    .right-menu-checkbox-group-down .btn:active {
        background-color: var(--main-color)!important;
        color: #fff;
    }

    .right-menu-checkbox-group-down .btn::after {
        display: none;
    }

    .right-menu-small-collapse, .right-menu-small-ege-collapse {
        width: 100%;
        margin-bottom: 1em;
    }

    .right-menu-checkbox-group-down .right-menu-small-label, .right-menu-checkbox-group-down .right-menu-small-ege-label {
        width: 100%;
        word-wrap: break-word;
        height: 100%;
        font-size: 1em;
        text-decoration: none;
        padding-right: 10%;
        color: #656363;
        /*background-color: #efefef;*/
    }

    .checkbox-column {
        background-color: #efefef;
        border-bottom: 2px solid #ffffff;
        height: fit-content;
        /*padding-bottom: 0.1em;*/
        padding: 6px 2%;
    }

    .check-faculties, .check-subjects {
        margin-bottom: 0;
        padding:0;
        height:fit-content;
        font-size: .75rem;
    }

    .right-menu-small-checkbox, .right-menu-small-ege-checkbox {
        width: 0;
        height: 0;
        display: none;
    }

    .right-menu-small-label::before, .right-menu-small-ege-label::before {
        content: "";
        width: 20px;
        height: 20px;
        background: #fff;
        display: block;
        position: relative;
        /*border-radius: 100%;*/
        border-radius: 10%;
        left: -2%;
        top: 0;
        transition: border 0.7s ease;
    }

    .right-menu-small-checkbox:checked ~ .right-menu-small-label {
        color: var(--main-color);
        font-weight: bold;
    }

    .right-menu-small-ege-checkbox:checked ~ .right-menu-small-ege-label {
        color: var(--main-color);
        font-weight: bold;
    }

    .right-menu-small-checkbox:checked ~ .right-menu-small-label::before {
        background-color: var(--main-color);
    }

    .right-menu-small-ege-checkbox:checked ~ .right-menu-small-ege-label::before {
        background-color: var(--main-color);
    }
}

@media screen and (min-width: 728px) and (max-width: 1199px) {
    .right-menu-checkbox-group-down .btn {
        width: 680px;
    }
}

@media screen and (max-width: 727px) {
    .right-menu-checkbox-group-down .btn {
        width: 340px;
    }

}

/*конец правого меню в подборе*/

@media screen and (max-width: 1000px) {

    .examInfo, .exam-info-bottom {
        font-size: 16px;
    }

    .foreign-link {
        color: white;
    }

    .hamburger {
        padding: 0 !important;
        height: 24px !important;
    }

    .hamburger-box {
        width: 30px !important;
    }

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        background-color: white !important;
        font-size: 0.2rem;
        width: 30px !important;
    }

    .container-fluid {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .course-name {
        font-size: 1.25rem;
    }

    .search-div-by-faculties, .search-div {
        padding: 0;
    }

    .search-div-by-faculties table, .search-div-by-faculties button,
    .search-div table, .search-div button {
        font-size: .75rem !important;
    }

    .swith-priem a {
        font-size: 1rem;
        padding: .5rem .6rem !important;
    }

    .h5-mrsu {
        font-size: 1rem;
    }

    .padding-0 {
        padding-top: 0 !important;
    }

    .link-section {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .cont-w-100 {
        max-width: 100vw !important;
    }

    .padding-0 {
        padding-top: 0 !important;
    }

    nav.navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .cont-w-100 {
        max-width: 100vw !important;
    }

    .mrsu-logo-blue, .mrsu-eye-blue {
        display: none;
    }

    .navbar-nav .nav-item .dropdown-menu {
        width: 100% !important;
        border: none !important;
        text-align: center;
    }

    .foreign-link {
        font-size: 24px;
    }

    .foreign-link {
        color: white;
    }

    .hamburger {
        padding: 0 !important;
        height: 24px !important;
    }

    .hamburger-box {
        width: 30px !important;
    }

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        background-color: white !important;
        font-size: 0.2rem;
        width: 30px !important;
    }


    .cont-w-100 {
        max-width: 100vw !important;
    }
}

@media screen and (max-width: 991px) {
    .header {
        background-color: var(--main-color);
    }

    /* #184d80 */
    .navbar .container {
        max-width: 100% !important;
    }

    .navbar-nav .nav-item .dropdown-menu {
        background-color: #e6e6e6 !important;
    }

    .navbar-nav .nav-item .dropdown-menu .dropdown-menu {
        background-color: var( --footer-back-dark) !important;
    }
    .main-nav ul li a {
        padding: 10px 0;
    }
    /*.carousel{*/
    /*	display: none;*/
    /*}*/
    .section-content-block {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 375px) {

    .padding-0 {
        padding-top: 0 !important;
    }
}

@media screen and (max-width: 320px) {

    .padding-0 {
        padding-top: 0 !important;
    }

    .img_main, .img_ipad {
        display: none !important;
    }

    .img_mobile {
        display: block !important;
    }

    .carousel-item {
        height: 100%;
    }
}

/*Правила для картинок карусели*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .carousel-item {
        /*height: 335px !important;*/
        height: fit-content;
    }
}

@media screen and (min-width: 992px) {
    .img_ipad, .img_mobile {
        display: none !important;
    }

    .img_main {
        display: block !important;
    }

}

@media screen and (min-width: 576px) and (max-width: 991px) {
    .img_main, .img_mobile {
        display: none !important;
    }

    .img_ipad {
        display: block !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .carousel-item {
        /*height: 295px !important;*/
        height: fit-content;
    }
}

@media screen and (min-width: 466px) and (max-width: 575px) {
    .carousel-item {
        height: max-content !important;
    }

    .img_main, .img_ipad {
        display: none !important;
    }

    .img_mobile {
        display: block !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 466px) {
    .carousel-item {
        height: 100%;
    }

    .img_main, .img_ipad {
        display: none !important;
    }

    .img_mobile {
        display: block !important;
    }
}

/*-----------------------------MRSU2021-----------------------------------*/
.container__mrsu {
    padding: 0 0;
}

.container{
    max-width: 1440px;
}
.contentpage{
    min-height: 400px;
}
@media screen and (max-width: 1499px) {
    .contentpage {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}
.infoblock-card  p{
    padding-bottom: 5px;
}

/*-------------------- хедер начало --------------------*/
/* -------------------------- хедер - начало ------------------------------ */
header {
    /*padding-bottom: 45px;*/
}

header .row > * {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

.head-block {
    position: relative;
}

.head-block header {
    position: absolute;
    top: 0;
    z-index: 1;
}

header {
    width: 100%;
    height: 100%;
}

header.background .head {
    padding: 30px 0;
}

/* -------------------------- шапка - начало ------------------------------ */
.head-block .black-background {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.30) 70%, rgba(0, 0, 0, 0.01) 100%);
}

.blue-background {
    background-color: var(--main-color);
}

.head {
    padding: 30px 0 50px 0;
}

.head .row {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.autowidth > * {
    width: auto;
}

@media screen and (max-width: 1499px) {
    .head {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .social-block {
        margin-right: 58px !important;
    }
}

@media screen and (max-width: 1200px) {
    .link__local__institution {
        padding-top: 20px;
    }
}

/* -------------------------- логотип - начало ------------------------------ */
div.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.logo img {
    width: 80px;
}

.logo-text {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 18px;
    min-width: 410px;
}

a.logo {
    text-decoration: none;
}

@media screen and (max-width: 849px) {
    .nav {
        display: none;
    }

    .logo-text {
        display: block !important;
    }
}

@media screen and (max-width: 640px) {
    div.logo {
        flex-flow: column nowrap;
    }

    .search {
        display: none;
    }

    .lang {
        display: none;
    }

    .head .row .column:first-child {
        width: 100%;
    }

    div.logo img {
        width: 60px;
    }

    .logo-text {
        display: none !important;
    }
}

@media screen and (max-width: 643px) {
    .background .see, .background .search {
        display: none;
    }
}

.lk {
    display: none;
    position: absolute;
    top: 22px;
    left: 3px;
    font-size: 18px;
}

.lk a {
    color: #fff;
}

@media screen and (max-width: 640px) {
    .lk {
        display: block;
    }
}

/* -------------------------- логотип - конец ------------------------------ */
/* -------------------------- меню - начало ------------------------------ */
div.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu .nav p {
    margin: 0;
}

.menu .nav a {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.menu .nav a:hover {
    text-decoration: underline;
}

.nav-col {
    margin-right: 55px;
}

/* -------------------------- меню - конец ------------------------------ */
div.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.search {
    transform: rotate(80deg);
    font-size: 18px;
    color: #fff;
    margin-right: 15px;
    margin-bottom: -3px;
    cursor: pointer;
}

.see {
    margin-right: 15px;
}

.see a {
    color: #fff;
}

#main_version a {
    color: #000;
}

.lk-icon {
    display: none;
}

@media screen and (max-width: 1279px) {
    .lk-icon {
        display: block;
    }

    .search-icon {
        display: none;
    }

    .search {
        transform: rotate(0deg);
        margin-bottom: -1px;
    }
}

/* -------------------------- гамбургер меню - начало ------------------------------ */
.hamburger-menu {
    position: relative;
    z-index: 100;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: -4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

#menu__toggle:checked ~ .menu__btn {
    /*right: calc(50% - 705px);*/
    right: calc(50vw - 720px + 0.75rem + 5px);
    top: 46px;
    position: fixed;
}

#menu__toggle:checked ~ .menu__btn > span,
#menu__toggle:checked ~ .menu__btn > span::before,
#menu__toggle:checked ~ .menu__btn > span::after {
    background-color: #fff;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #fff;
    transition-duration: .25s;
    border-radius: 2px;
}

.menu__btn > span::before {
    content: '';
    top: -7px;
}

.menu__btn > span::after {
    content: '';
    top: 7px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--main-color);
    transition-duration: .25s;
    overflow-x: auto;
    box-sizing: border-box;
}

.hamburger__head {
    padding-top: 30px;
}

.hamburger__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    /*max-height: 890px;*/
    list-style: none;
    margin-top: 20px!important;
}

.hamburger__menu > li {
    width: calc(25% - 40px);
    margin: 10px 20px;
    box-sizing: border-box;
    align-self: flex-start;
}

.hamburger__menu > li > a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.hamburger__menu > li > a:hover {
    text-decoration: underline;
}

.hamburger__submenu {
    list-style-image: url('/storage/images/mrsu2021/defis-light.svg');
    padding-left: 20px;
    color: var(--sandwich-link);
    margin-top: 10px;
}

.test__two {
    list-style-image: url('/storage/images/mrsu2021/defis-dark.svg');
    padding-left: 35px;
}

.hamburger__submenu > li > a {
    color: var(--sandwich-link);
    text-decoration: none;
    font-size: 17px;
}

.hamburger__submenu > li > a:hover {
    text-decoration: underline;
}

.hamburger__search {
    margin-right: 80px;
    width: 50%;
    /*height:60px;*/
}

.hamburger__search form {
    border-bottom: 2px solid #e0eaff;
    color: var(--sandwich-link);
    padding: 5px 10px;
    display:none;
}

.hamburger__search form input {
    background: none;
    color: var(--sandwich-link);
    width: calc(100% - 80px);
    border: none;
    padding-left: 10px;
}

.hamburger__search form button {
    background: none;
    border: none;
    color: var(--sandwich-link);
    font-size: 20px;
    transform: rotate(80deg);
}

.checksubmenuhide {
    display: none;
}

.hamburger__footer {
    flex-flow: row wrap !important;
    padding: 20px 0;
}

.hamburger__footer .foot-bottom-block {
    padding: 0;
    justify-content: space-between;
}

.hamburger__footer .foot-bottom-block > * {
    margin: 0 !important;
}

.hamburger__footer .foot-bottom-block > *:first-child {
    width: calc(100% - 280px);
}

.hamburger__footer .foot-bottom-block > *:last-child {
    width: 280px;
}

.hamburger__footer .copyright {
    color: var(--sandwich-footer) !important;
}

.hamburger-menu .underline-row {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--sandwich-footer);
}

@media screen and (max-width: 1499px) {
    .menu__box .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1340px) {
    .hamburger__menu {
        max-height: 920px;
    }
}

@media screen and (max-width: 1236px) {
    .hamburger__menu {
        max-height: 940px;
    }
}

@media screen and (max-width: 1232px) {
    .hamburger__menu {
        max-height: 960px;
    }
}

@media screen and (max-width: 1199px) {
    .hamburger__submenu {
        height: 0;
        display: none;
    }

    .checksubmenu {
        content: '';
        border-right: 3px solid #fff;
        border-top: 3px solid #fff;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 20px;
        transform: translate(-15px, 5px) rotate(135deg);
        transition: 0.2s transform;
    }

    .checksubmenuhide:checked ~ .checksubmenu {
        transform: translate(-15px, 10px) rotate(315deg);
        transition: 0.2s transform;
    }

    .checksubmenuhide:checked ~ .hamburger__submenu {
        height: auto;
        display: block;
    }

    .hamburger__menu > li {
        border-bottom: 1px solid #fff;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .hamburger__menu > li:last-child {
        border-bottom: none;
    }
}

@media screen and (min-width: 1500px) {
    #menu__toggle:checked ~ .menu__btn {
        right: calc(50vw - 720px + 2px);
        top: 46px;
    }

    /*.menu__box > .container {
        padding-left: 30px;
        padding-right: 30px;
    }*/
}

@media screen and (max-width: 1500px) {
    /*.menu__box > .container {
        padding-left: 15px;
        padding-right: 15px;
    }*/
}

@media screen and (max-width: 1440px) {
    #menu__toggle:checked ~ .menu__btn {
        right: 17px;
    }

    /*.hamburger__head>.column:first-child {
        margin-left: 12px;
    }*/
}

@media screen and (max-width: 640px) {
    #menu__toggle:checked ~ .menu__btn {
        right: 17px;
        top: 48px;
    }

    .menu__btn {
        top: -2px;
    }
}

@media screen and (max-width: 849px) {
    .hamburger__head {
        flex-flow: row wrap !important;
        justify-content: center !important;
    }

    .hamburger__head > .column:first-child {
        width: 100%;
    }

    .hamburger__search {
        width: calc(100% - 40px);
        margin-right: 0;
        margin-top: 40px;
    }
}

@media screen and (max-width: 575px) {
    .hamburger__footer .foot-bottom-block > *:first-child {
        width: 100%;
    }

    .hamburger__footer .foot-bottom-block > *:last-child {
        width: 100%;
        padding-bottom: 20px;
    }

    .hamburger__footer .foot-bottom-block {
        flex-wrap: wrap;
    }
}

/* -------------------------- гамбургер меню - конец ------------------------------ */
/* -------------------------- вторая втрока шапки - начало ------------------------------ */
.second-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-right: 40px;
}

.second-row a {
    margin-left: 20px;
    color: #aaa;
    text-decoration: none;
}

.second-row a:hover {
    text-decoration: underline;
}

.second-row a i {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
}

/* -------------------------- языковой панель - начало ------------------------------ */
.topmenu {
    position: relative;
    color: #fff;
    z-index: 1;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
}

.topmenu:hover .submenu {
    display: block;
}

.submenu a {
    color: #fff;
    text-decoration: none;
}

.submenu a:hover {
    text-decoration: underline;
}

/* -------------------------- языковой панель - конец ------------------------------ */
/* -------------------------- вторая втрока шапки - начало ------------------------------ */
.second-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-right: 40px;
}

.second-row a {
    margin-left: 20px;
    color: #aaa;
    text-decoration: none;
}

.second-row a:hover {
    text-decoration: underline;
}

.second-row a i {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
}

@media screen and (max-width: 1279px) {
    .second-row {
        display: none;
    }

    .logo-text {
        display: none;
    }
}

@media (max-width: 640px) {
    .head > .row {
        flex-direction: column;
        position: relative;
    }

    .column.menu {
        width: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .autowidth > * {
        width: auto;
    }
}

@media (max-width: 420px) {
    .logo-text {
        display: none !important;
    }
}

/*-------------------- хедер конец --------------------*/

/*-------------------- футер - начало --------------------*/
footer {
    background-color: var(--footer-back);
    color: var(--footer-text);
    margin-top: 40px;
    padding-top: 50px;
    /*position: fixed; !* Фиксированное положение *!*/
    /*left: 0; bottom: 0; !* Левый нижний угол *!*/
}

footer .row > * {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

.list_footer {
    /* list-style: '– '; */
    list-style-image: url('/storage/images/mrsu2021/defis-dark.svg');
    padding-left: 2rem;
}

.footer-blocks {
    margin: 0 auto;
}

footer * {
    font-family: Segoe UI, sans-serif;
}

footer .row {
    margin: 0;
}

footer p {
    margin-bottom: 5px;
    font-size: 14px;
}

footer a {
    color: var(--footer-text);
    text-decoration: none;
    transition-duration: .2s;
}

footer a:hover {
    color: var(--footer-text);
    text-decoration: underline !important;
}

footer a.underline {
    color: var(--footer-text);
    /* text-decoration: underline; */
    transition-duration: .2s;
    font-size: 17px;
    /*margin-left: 5px;*/
}

div.ottt {
    line-height: 1;
}

table {
    border-spacing: 100px 100px;
}

div.ott {
    line-height: 1.5 !important;
}

.image_footer_glob > img {
    width: 23px !important;
    height: 23px !important;
    padding-bottom: 5px;
    padding-right: 3px;
}

td, tr {
    padding: 0;
}

.number__padding {
    padding-left: 5px;
}

.pos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding-bottom: 4px;
}

.pos__mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding-bottom: 5px;
}


.pos-text {
    padding-left: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.color__footer {
    color: var(--footer-back);
}

footer a.underline:hover {
    color: var(--footer-text);
    text-decoration: none;
}

.padding {
    padding-top: 0.3px;
}

.bold {
    font-weight: 600;
    font-size: 20px;
}

.bottom {
    margin-bottom: 10px;
}

.text-tel {
    padding-left: 12px;
}

.imm__one {
    width: 24px;
    height: 24px;
    padding-bottom: 4px;
}

.imm__two {
    width: 20px;
    height: 20px;
    padding-bottom: 3px;
    padding-left: 2px;
}

.imm__three {
    width: 20px;
    height: 20px;
    padding-bottom: 3px;
    padding-left: 2px;
}

.pochta {
    padding-top: 7px;
}

.imm__four {
    width: 20px;
    height: 20px;
    padding-bottom: 3px;
    padding-left: 2px;
}

.address {
    /*background-image: url("../images/elements/2I.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: left center;*/
    font-size: 17px;
    padding-left: 4px;
    margin-top: 10px;
}

.mail {
    /*background-image: url("../images/elements/1E.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: left center;*/
    font-size: 17px;
    padding-left: 8px;
}

.phone {
    /*background-image: url("../images/elements/9H.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: left center;*/
    /*background-size: 13px;*/
    font-size: 17px;
    padding-left: 7px;
}

span.phone span {
    padding-left: 22px;
}

footer .top-margin {
    margin-top: 21px;
}

.underline-row {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--footer-text);
}

.foot-bottom-block {
    padding: 15px 0;
}

.copyright {
    color: var(--footer-text);
    font-size: 13px;
}

.social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.social a {
    margin-left: 8px;
}

.social img {
    width: 100%;
}

.position {
    font-size: 17px;
    padding-left: 15px;
    line-height: 1.5;
}

.position__list {
    font-size: 17px;
    padding-left: 0;
    line-height: 1.5;
}

.main__corpus {
    line-height: 1.5;
    padding-bottom: 2px;
}

.virtual_priem {
    padding-left: 2px;
}

.virtual {
    width: 18px;
    height: 18px;
}

@media (max-width: 575px) {
    .col_one {
        order: 2;
    }

    .col_two {
        padding-top: 13px;
        padding-bottom: 0;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*-------------------- футер - конец --------------------*/
